In [ ]:
#1
import sqlite3
import pandas as pd

conn = sqlite3.connect("chinook.db")
query = "SELECT * FROM customers"
customers_df = pd.read_sql_query(query, conn)
print(customers_df.head(10))
conn.close()

In [ ]:
#2
import pandas as pd

df = pd.read_json("iris.json")
print("Shape of the dataset:", df.shape)
print("Column names:", df.columns.tolist())

In [ ]:
#3
import pandas as pd

df=pd.read_excel('titanic.xlsx')
print(df.head())

In [ ]:
#4
import pandas as pd

df = pd.read_parquet("flights.parquet")

df.info()

In [ ]:
#5
import pandas as pd

df = pd.read_csv("movie.csv")

print(df.sample(10))